body{
    background-color: #EEEEEE;
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-size: 200%;
}
.one{
    font-family: 'Mochiy Pop One', sans-serif;
    background-color: #B4E4FF;
    /* height: 650px;
    width: 100%; */
    padding-top: 50px;
}
h1{
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;

}
h2{
    font-family: 'Labrada', serif;
    font-size: 2.5rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.botton-cloud{
    position: absolute;
    left: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
}
.mountain{
    position:relative;
    /* top: -3%; */
}
.navbar{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 10px;
}
.navbar:hover{
    background-color: rgb(148, 142, 142);
    border-radius: 10px;
}
.profilepone{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}